 :root {
    --font-color: #221625
    --bg-color: #e1e1ff;
}

[data-theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #221625
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial,Helvetica,sans-serif;
}