.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
{
  background-color: #0f0005;
}
.lead {
  font-family: 'Megrim', sans-serif;
  color: #fff;
  text-shadow: 0 2px 4px #31d6ff;
  font-size: 35px;
}
.leaf-header {
  position: relative;
  text-align: center;
}
.leaf-header .lead {
  position: absolute;
  left: 50%;
  top: 75px;
  width: 400px;
  margin-left: -200px;
  font-size: 60px;
  text-transform: uppercase;
}
.leaf-header .leaf-logo {
  margin: 0 auto;
  max-height: 800px;
}
@media screen and (max-width: 767px) {
  .leaf-header .lead {
    top: 20px;
    font-size: 45px;
    line-height: 1.1;
  }
  .leaf-header .leaf-logo {
    margin-top: 40px;
  }
}
.leaf-body {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.leaf-body a {
  color: #ff3fac;
  font-weight: bold;
}
.leaf-body a:hover {
  color: #31d6ff;
}
.leaf-body code {
  background-color: #ff3fac;
  color: #000;
}
.leaf-body .lead {
  max-width: 500px;
  text-align: center;
  margin: 60px auto;
}
.leaf-body .underbar {
  border-top-color: #ff3fac !important;
  border-top-width: 2px;
  box-shadow: 0 2px 4px #ff3fac;
}
.leaf-body h2 {
  margin-top: 140px;
  font-family: 'Megrim', sans-serif;
  text-shadow: 0 2px 4px #ff3fac;
  font-size: 40px;
}
.leaf-body .spacer {
  margin-top: 140px;
}
@media screen and (max-width: 767px) {
  .leaf-body h2,
  .leaf-body .spacer {
    margin-top: 80px;
  }
}
.leaf-vs-row {
  position: relative;
  margin-bottom: 40px;
}
.leaf-vs-row:before,
.leaf-vs-row:after {
  content: " ";
  display: table;
}
.leaf-vs-row:after {
  clear: both;
}
.leaf-vs-col {
  width: 50%;
}
.leaf-vs-col.left {
  float: left;
  padding-right: 40px;
  text-align: right;
}
.leaf-vs-col.right {
  float: right;
  padding-left: 40px;
  text-align: left;
}
.leaf-vs-img {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 30px;
  margin-left: -15px;
}
.leaf-quote {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.leaf-quote p {
  font-style: italic;
  font-size: 20px;
}
.leaf-quote-who {
  font-weight: bold;
  text-align: right;
}
.btn-leaf {
  background-color: #31d6ff;
  color: #fff !important;
}
.btn-leaf small {
  color: #fff !important;
}
.btn-leaf.disabled:hover,
.btn-leaf[disabled]:hover,
fieldset[disabled] .btn-leaf:hover {
  background-color: #31d6ff;
  color: #fff !important;
}
.btn-leaf.disabled:hover small,
.btn-leaf[disabled]:hover small,
fieldset[disabled] .btn-leaf:hover small {
  color: #fff !important;
}
.btn-leaf-outline {
  background-color: transparent;
  border-color: #31d6ff;
  color: #000 !important;
}
.btn-leaf-outline small {
  color: #fff !important;
}
.btn-leaf-outline.disabled:hover,
.btn-leaf-outline[disabled]:hover,
fieldset[disabled] .btn-leaf-outline:hover {
  background-color: transparent;
  border-color: #31d6ff;
  color: #000 !important;
}
.btn-leaf:hover,
.btn-leaf.active,
.btn-leaf-outline:hover,
.btn-leaf-outline.active {
  background-color: rgba(255,63,172,0.4);
  border-color: rgba(255,63,172,0.4);
  color: #fff !important;
}
.btn-leaf:hover small,
.btn-leaf.active small,
.btn-leaf-outline:hover small,
.btn-leaf-outline.active small {
  color: #fff !important;
}
.btn-leaf-outline {
  color: #ff3fac !important;
  border-width: 2px;
  border-style: solid;
  line-height: 32px;
  line-height: 60px;
  padding-left: 18px;
  padding-right: 18px;
  text-shadow: 0 0 8px #ff3fac;
  box-shadow: 0 0 8px #31d6ff;
  font-size: 25px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.btn-leaf-outline:hover {
  box-shadow: 0 0 8px #ff3fac;
}