.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.route-landing-indieaf {
  background-color: #0f0005;
}
.route-landing-indieaf .lead {
  font-family: 'Megrim', sans-serif;
  color: #fff;
  text-shadow: 0 2px 4px #31d6ff;
  font-size: 35px;
}
.route-landing-indieaf .indieaf-header {
  position: relative;
  text-align: center;
}
.route-landing-indieaf .indieaf-header .lead {
  position: absolute;
  left: 50%;
  top: 75px;
  width: 400px;
  margin-left: -200px;
  font-size: 60px;
  text-transform: uppercase;
}
.route-landing-indieaf .indieaf-header .indieaf-logo {
  margin: 0 auto;
  max-height: 800px;
}
@media screen and (max-width: 767px) {
  .route-landing-indieaf .indieaf-header .lead {
    top: 20px;
    font-size: 45px;
    line-height: 1.1;
  }
  .route-landing-indieaf .indieaf-header .indieaf-logo {
    margin-top: 40px;
  }
}
.route-landing-indieaf .indieaf-body {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.route-landing-indieaf .indieaf-body a {
  color: #ff3fac;
  font-weight: bold;
}
.route-landing-indieaf .indieaf-body a:hover {
  color: #31d6ff;
}
.route-landing-indieaf .indieaf-body code {
  background-color: #ff3fac;
  color: #000;
}
.route-landing-indieaf .indieaf-body .lead {
  max-width: 500px;
  text-align: center;
  margin: 60px auto;
}
.route-landing-indieaf .indieaf-body .underbar {
  border-top-color: #ff3fac !important;
  border-top-width: 2px;
  box-shadow: 0 2px 4px #ff3fac;
}
.route-landing-indieaf .indieaf-body h2 {
  margin-top: 140px;
  font-family: 'Megrim', sans-serif;
  text-shadow: 0 2px 4px #ff3fac;
  font-size: 40px;
}
.route-landing-indieaf .indieaf-body .spacer {
  margin-top: 140px;
}
@media screen and (max-width: 767px) {
  .route-landing-indieaf .indieaf-body h2,
  .route-landing-indieaf .indieaf-body .spacer {
    margin-top: 80px;
  }
}
.route-landing-indieaf .indieaf-vs-row {
  position: relative;
  margin-bottom: 40px;
}
.route-landing-indieaf .indieaf-vs-row:before,
.route-landing-indieaf .indieaf-vs-row:after {
  content: " ";
  display: table;
}
.route-landing-indieaf .indieaf-vs-row:after {
  clear: both;
}
.route-landing-indieaf .indieaf-vs-col {
  width: 50%;
}
.route-landing-indieaf .indieaf-vs-col.left {
  float: left;
  padding-right: 40px;
  text-align: right;
}
.route-landing-indieaf .indieaf-vs-col.right {
  float: right;
  padding-left: 40px;
  text-align: left;
}
.route-landing-indieaf .indieaf-vs-img {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 30px;
  margin-left: -15px;
}
.route-landing-indieaf .indieaf-quote {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.route-landing-indieaf .indieaf-quote p {
  font-style: italic;
  font-size: 20px;
}
.route-landing-indieaf .indieaf-quote-who {
  font-weight: bold;
  text-align: right;
}
.route-landing-indieaf .btn-af {
  background-color: #31d6ff;
  color: #fff !important;
}
.route-landing-indieaf .btn-af .jolticon {
  color: #fff;
}
.route-landing-indieaf .btn-af.btn-sparse .jolticon {
  color: #fff;
}
.route-landing-indieaf .btn-af .jolticon-addon,
.route-landing-indieaf .btn-af small {
  color: #fff !important;
}
.route-landing-indieaf .btn-af.disabled:hover,
.route-landing-indieaf .btn-af[disabled]:hover,
fieldset[disabled] .route-landing-indieaf .btn-af:hover {
  background-color: #31d6ff;
  color: #fff !important;
}
.route-landing-indieaf .btn-af.disabled:hover .jolticon,
.route-landing-indieaf .btn-af[disabled]:hover .jolticon,
fieldset[disabled] .route-landing-indieaf .btn-af:hover .jolticon {
  color: #fff;
}
.route-landing-indieaf .btn-af.disabled:hover.btn-sparse .jolticon,
.route-landing-indieaf .btn-af[disabled]:hover.btn-sparse .jolticon,
fieldset[disabled] .route-landing-indieaf .btn-af:hover.btn-sparse .jolticon {
  color: #fff;
}
.route-landing-indieaf .btn-af.disabled:hover .jolticon-addon,
.route-landing-indieaf .btn-af[disabled]:hover .jolticon-addon,
fieldset[disabled] .route-landing-indieaf .btn-af:hover .jolticon-addon,
.route-landing-indieaf .btn-af.disabled:hover small,
.route-landing-indieaf .btn-af[disabled]:hover small,
fieldset[disabled] .route-landing-indieaf .btn-af:hover small {
  color: #fff !important;
}
.route-landing-indieaf .btn-af-outline {
  background-color: transparent;
  border-color: #31d6ff;
  color: #000 !important;
}
.route-landing-indieaf .btn-af-outline .jolticon,
.route-landing-indieaf .btn-af-outline.btn-sparse .jolticon {
  color: #31d6ff;
}
.route-landing-indieaf .btn-af-outline .jolticon-addon,
.route-landing-indieaf .btn-af-outline small {
  color: #fff !important;
}
.route-landing-indieaf .btn-af-outline.disabled:hover,
.route-landing-indieaf .btn-af-outline[disabled]:hover,
fieldset[disabled] .route-landing-indieaf .btn-af-outline:hover {
  background-color: transparent;
  border-color: #31d6ff;
  color: #000 !important;
}
.route-landing-indieaf .btn-af-outline.disabled:hover .jolticon,
.route-landing-indieaf .btn-af-outline[disabled]:hover .jolticon,
fieldset[disabled] .route-landing-indieaf .btn-af-outline:hover .jolticon,
.route-landing-indieaf .btn-af-outline.disabled:hover.btn-sparse .jolticon,
.route-landing-indieaf .btn-af-outline[disabled]:hover.btn-sparse .jolticon,
fieldset[disabled] .route-landing-indieaf .btn-af-outline:hover.btn-sparse .jolticon {
  color: #31d6ff;
}
.route-landing-indieaf .btn-af-outline.disabled:hover .jolticon-addon,
.route-landing-indieaf .btn-af-outline[disabled]:hover .jolticon-addon,
fieldset[disabled] .route-landing-indieaf .btn-af-outline:hover .jolticon-addon,
.route-landing-indieaf .btn-af-outline.disabled:hover small,
.route-landing-indieaf .btn-af-outline[disabled]:hover small,
fieldset[disabled] .route-landing-indieaf .btn-af-outline:hover small {
  color: #fff !important;
}
.route-landing-indieaf .btn-af:hover,
.route-landing-indieaf .btn-af.active,
.route-landing-indieaf .btn-af-outline:hover,
.route-landing-indieaf .btn-af-outline.active {
  background-color: rgba(255,63,172,0.4);
  border-color: rgba(255,63,172,0.4);
  color: #fff !important;
}
.route-landing-indieaf .btn-af:hover .jolticon,
.route-landing-indieaf .btn-af.active .jolticon,
.route-landing-indieaf .btn-af-outline:hover .jolticon,
.route-landing-indieaf .btn-af-outline.active .jolticon,
.route-landing-indieaf .btn-af:hover.btn-sparse .jolticon,
.route-landing-indieaf .btn-af.active.btn-sparse .jolticon,
.route-landing-indieaf .btn-af-outline:hover.btn-sparse .jolticon,
.route-landing-indieaf .btn-af-outline.active.btn-sparse .jolticon {
  color: #fff;
}
.route-landing-indieaf .btn-af:hover .jolticon-addon,
.route-landing-indieaf .btn-af.active .jolticon-addon,
.route-landing-indieaf .btn-af-outline:hover .jolticon-addon,
.route-landing-indieaf .btn-af-outline.active .jolticon-addon,
.route-landing-indieaf .btn-af:hover small,
.route-landing-indieaf .btn-af.active small,
.route-landing-indieaf .btn-af-outline:hover small,
.route-landing-indieaf .btn-af-outline.active small {
  color: #fff !important;
}
.route-landing-indieaf .btn-af-outline {
  color: #ff3fac !important;
  border-width: 2px;
  border-style: solid;
  line-height: 32px;
  line-height: 60px;
  padding-left: 18px;
  padding-right: 18px;
  text-shadow: 0 0 8px #ff3fac;
  box-shadow: 0 0 8px #31d6ff;
  font-size: 25px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.route-landing-indieaf .btn-af-outline:hover {
  box-shadow: 0 0 8px #ff3fac;
}
