body,.lightmode {
font-family: Comic Sans MS;
background-color: #000000;
background-image: url(http://www.geocities.ws/crystal1990/img/backgrounds/bg_1.png);
}
.darkmode {
font-family: Comic Sans MS;
background-color: #000000;
color: #F1F1F1;
background-image: url(http://www.geocities.ws/crystal1990/img/backgrounds/bg_1.png);
}
.w3-content-dark{
margin-left:auto;
margin-right:auto;
max-width:1700px;
background-color: #222222;
color: #F1F1F1;
background-image: url(http://www.geocities.ws/crystal1990/img/backgrounds/bg_1.png);
}

.w3-content{
max-width:1700px;
}

.w3-darkblue{
background-color: #030066;
color: white;
}

h1, h2, h3, h4, h5, h6  {
  font-family: bubbleboddy fat, Comic Sans MS, Arial, Helvetica, sans-serif ;
}

.stars{
font-family: RAKO_FONT;
}