.bg-darker {
    background-color:rgba(33,37,41,0.700);
    color:#EEEEEE;
}

.bg-lighter {
    background-color:rgba(238,238,238,0.700);
    color:#212529;
}

.content {
	font-family: Comic Sans MS;
}

.content-mode {
}

.dark-button {
    position: relative
}

.navbar-nbg-dark a {
color: white;
}

.navbar-nbg a {
color: black;
}

.accordion-dark {
    background-color:#212529;
    color:#EEEEEE;
}

.accordion-light {
    background-color:#EEEEEE;
    color:#212529;
}


.navbar-nbg {
background: #7A48C0;
color: black;
background-image: linear-gradient(#7A48C0, #F386B7);
}

.navbar-nbg-dark {
background: #7A48C0;
color: white;
background-image: linear-gradient(#5D3891, #526BBA);
}

.dot {
    height: 22px;
    width: 22px;
    top: 5px;
    position: relative;
    background-color: #8E24AA;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer
}

.dark-dot {
    height: 22px;
    width: 22px;
    top: 1%;
    left: 77%;
    position: absolute;
    background-color: #585757;
    border-radius: 50%;
    display: inline-block;
    opacity: 0
}

.dark-button {
    cursor: pointer
}

.mode.checked .mode {
    background-color: red
}

.content-dark {
    color: #fff
}

.content.content-dark .dark-dot {
    animation: dark 0.5s ease-in forwards
}

@keyframes dark {
    0% {
        opacity: 0.2;
        top: 15%;
        left: 70%
    }

    50% {
        opacity: 0.5 top: 13%;
        left: 75%
    }

    100% {
        opacity: 1;
        top: 7%;
        left: 77%
    }
}