    #letsgo {
      font-family: bubbleboddy;
      font-size: 30px;
      font-weight: bold;
    }

    #letsgo a {
      color: white;
      text-decoration: none;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(180deg,#f35626,#feab3a);
    }

    #letsgo a:link, a:visited {
      color: white;
      -webkit-animation: rainbow2 10s infinite linear;
    }

    #letsgo a:hover, a:active {
      color: white;
      -webkit-animation: rainbow2 .25s infinite linear;
    }