 :root {
    --primary-color: #424242;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #C789D9;
    --heading-color: #292922;
    --content-color: 255, 255, 255;
    --content-font-color: #424242;
    --totalnav-color: #7A48C0;
    --totalnav-second-color: #F386B7;
}

[data-theme="dark"] {
    --primary-color: #e1e1ff;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #221625;
    --heading-color: #818cab;
    --content-color: 0, 0, 0;
    --content-font-color: #e1e1ff;
    --totalnav-color: #5D3891;
    --totalnav-second-color: #526BBA;
}

body {
font-family: Comic Sans MS;
text-align: center;
  color: var(--content-font-color);
  background-color: var(--content-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  &:hover, &:focus {
      border-bottom: 3px solid currentColor;
  }
}

.content {
  background-color: rgba(var(--content-color), 0.300);
  color: rgba(var(--content-font-color), 0.300);
}

.box-content {
  background-color: var(--content-color);
  color: var(--content-font-color);
}

.totallypurple{
background: var(--totalnav-color);
color: white;
background-image: linear-gradient(var(--totalnav-color), var(--totalnav-second-color));
}

.totallypurple footer{
font-size: 25px;
}

.totalnav a{
color: white;
text-decoration: none;
}

.totalnav a:hover{
color: #CCDFFF;
text-decoration: none;
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}